<footer class="footer">
    <div class="button_arrow_up">
        <button>
                <img class="button_up" src="./assets/icons/ico-arrow.svg" alt="volver">
        </button>
    </div>

    <div class="footer_container">

   <nav class="social_articles">
       <ul>
    <li><a>ARTICLES</a></li>
    <li><a>BOOCKS</a></li>
    <li><a>EVENTS</a></li>
    <li><a>EVENTS</a></li>
    <li><a>REASON</a></li>
    <li><a>TIPS</a></li>
</ul>
   </nav>

   
    <nav class="social_menu">
        <ul>
    <li><a>twitter</a></li>
    <li><a>instagram</a></li>
    <li><a>mastodon.social</a></li>
</ul>
    </nav>


    <ul class="social_small">
    <li>&copy; 2017</li>
    <li>we ❤︎ components</li>
    </ul>

</div>
</footer>