<header class="header">
    <nav id="link_start" class="logo">
        <img class="logo_img" src="./assets/icons/ico-menu.svg" alt="bienvenido a anonymous">
    </nav>

    <nav class="hero">
            <div class="hero_container">
            <h1 class="hero_title">ANONYMOUS PROXY</h1>
            <p class="hero_sub">In hac habitasse platea dictumst.</p>
            <button class="button_arrow">
                <a href="#link_principal" name="ir a principal" >
                    <img class="logo_arrow" src="./assets/icons/ico-scroll-down.svg" alt="ir a principal"></a>
                </button>
            </div>
    </nav>
</header>