<header class="header">
    <nav id="link_start" class="logo">
        <img class="logo_img" src="./assets/icons/ico-menu.svg" alt="bienvenido a anonymous">
    </nav>

    <nav class="hero">
        <ul class="list">
            <li class="list_hero">ANONYMOUS</li>
            <li class="list_hero">PROXY</li>
            <li class="list_sub">In hac habitasse platea dictumst.</li>
        </ul>
        <a href="#link_principal" button class="button_arrow">
            <img class="logo_arrow" src="./assets/icons/ico-scroll-down.svg" alt="volver"></a>
        </button>

    </nav>
</header>