<header class="header">
    <nav id="link_start" class="logo">
        <img class="logo_img" src="./assets/icons/ico-menu.svg" alt="bienvenido a anonymous">
    </nav>

    <nav class="hero">
        <ul class="list">
            <li class="one">ANONYMOUS</li>
            <li class="twoo">PROXY</li>
            <li class="holi">In hac habitasse platea dictumst.</li>
        </ul>
        <button href="#link_principal" class="button_arrow"> 
            <img class="logo_arrow" src="./assets/icons/ico-scroll-down.svg" alt="volver"></a>
        </button>

    </nav>

</header>