<main id="link_principal" class="main">
    <section class="principal">
        <div class="section">
            <h1 class="section_text_h1">Insomnia Tips</h1>
            <h2 class="section_text_h2">Looking Through A Window</h2>
            <p class="section_text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
                diam nec lectus. Vivamus semper sodales rutrum.</p>
            <button class="button_go">Go</button>
        </div>

    </section>
    <article class="reason">

        <div class="article">
            <div class="article_principal">
                <h1 class="article_reason">3 Reasons To Purchase</h1>
            </div>

            <div class="article_list">
                <h2 class="article_item">Ut sed metus</h2>
                <p class="article_text">Lorem ipsum dolor sit amet, consecteur.</p>
            </div>
            <div class="article_list">
                <h2 class="article_item">Curabitur ac erat</h2>
                <p class="article_text">Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div class="article_list">
                <h2 class="article_item">Morbi dictum</h2>
                <p class="article_text">Aliquam in dolor et dolor tincidunt.</p>
            </div>
            <div class="button_box"><button class="button_reason">More reasons</button></div>
        </div>


    </article>
    <section class="section_offer">
        <h3>Special Offer</h3>
        <div class="section_container">
        <h4>20% discount</h4>
        <p>lorem impsun</p>
    </div>
    </section>
</main>