.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-dark-midtone;
}
.footer_container {
  height: 465px;
  background-color: $color-dark-midtone;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  background-color: $color-light;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  margin: auto;
  animation-name: intro;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

.button:hover {
  box-shadow: 6px 7px 6px $color-main-text-and-shadow;
}
.button_up {
  background: none;
  border: none;
}
.social_articles {
  margin-top: 60px;
  text-align: center;
  text-decoration: none;
  color: $color-light;
  font-family: $font-family;
  font-size: 16px;
}
.social_menu {
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-light;
  font-family: $font-family;
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.social_small {
  margin-top: 30px;
  font-family: $font-family;
  font-size: 14px;
  color: $color-light;
  text-align: center;
}
.lovee {
  color: $color-primary;
}
.section_offer {
  background-color: $color-primary;
  color: $color-light;
  display: none;
}
@keyframes intro {
  from {
    opacity: 1;
    transform: scale(1);
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.3;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform: translateY(-20px);
  }
}

@media all and (min-width: 768px) {
  .footer_container {
    width: 100%;
    height: 240px;
    padding-left: 39px;
    padding-right: 39px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .button {
    transform: translateY(-120px);
  }
  .button_up {
    background: none;
    border: none;
  }
  .social_articles {
    margin-top: 45px;
    margin-right: 30px;
    order: 1;
    text-align: initial;
    font-size: 16px;
  }
  .social_menu {
    margin-top: 45px;
    margin-right: 30px;
    order: 2;
    text-align: initial;
    font-size: 16px;
  }

  .social_small {
    margin-top: 45px;
    text-align: initial;
  }

  .section_offer {
    display: block;
  }
  .section_container {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (min-width: 1280px) {
  .footer_container {
    padding-left: 370px;
    padding-right: 370px;
  }
}
