/* .section {
    margin: 0px;
    height: 376px;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 45px 15px;
}
.section_text_h1 {
    font-size: 14px;
    color: $color-secondary;
    font-family: $font-family;
}
.section_text_h2 {
    margin-top: 1px;
    font-size: 24px;
    color: $color-dark;
    font-family: $font-family-second;
}
.section_text {
    margin-top: 15px;
    font-family: $font-family;
    font-size: 18px;
    line-height: 30px;
    color: $color-main-text-and-shadow;
    text-align: left;
} */

.section {
    margin: 0px;
    height: 376px;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 45px 15px;

    &_text_h1{
        font-size: 14px;
        color: $color-secondary;
        font-family: $font-family;
    }
    &_text_h2 {
        margin-top: 1px;
        font-size: 24px;
        color: $color-dark;
        font-family: $font-family-second;
    }
    &_text {
        margin-top: 15px;
        font-family: $font-family;
        font-size: 18px;
        line-height: 30px;
        color: $color-main-text-and-shadow;
        text-align: left;
    }
}

.button_go {
    background-color: $color-light;
    color: $color-primary;
    font-size: 20px;
    font-family: $font-family;
    margin-top: 30px;
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color-primary;
    transition: all 3s;
    cursor: pointer;
}
.button_go:hover {
    background-color: $color-primary;
    border-radius: 8%;
    color: $color-light;
    box-shadow: 2px 4px 5px 3px $color-main-text-and-shadow;
} 


.article {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    height: 624px;
    background-color: $color-light-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 45px;
    grid-template-rows: 30px 93px 93px 93px 45px;
}
.article_reason {
    font-family: $font-family-second;
    font-size: 24px;
    text-align: center;
}

.article_item {
    font-family: $font-family-second;
    font-size: 18px;
    text-align: center;
}
.article_text {
    font-family: $font-family;
    font-size: 18px;
    text-align: center;
}

.button_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_reason {
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-primary;
    font-family: $font-family;
    font-size: 20px;
    color: $color-light;
    transition: all 3s;
    cursor: pointer;
}
.button_reason:hover {
    background-color: $color-light;
    border: solid 2px $color-primary;
    border-radius: 8%;
    color: $color-primary;
    box-shadow: 2px 4px 5px 3px $color-main-text-and-shadow;
}

@media all and (min-width:768px) {
    .section {
        height: 330px;
        padding: 30px 39px 60px 39px;
        
        &_text_h2 {
            font-size: 26px;
            line-height: 1.73;
        }
        &_text {
            margin-top: 30px;
            font-size: 20px;
            line-height: 1.5;
        }
    }
    .button_go {
        width: 91px;
    }
    .article {
        padding-left: 35.7px;
        padding-right: 40px;
        height: 397px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-gap: 45px; */
        grid-template-rows: 45px 112px /* 68+14+30 */ 45px;
    }
    .article_principal {
        grid-column: span 3;
    }
    .article_reason {
        font-size: 26px;
    }
    .article_list {
        grid-gap: 30px;
    }
    .article_item {
        font-size: 24px;
    }
    .article_text {
        font-size: 20px;
    }
    .button_box {
        grid-column: span 3;
        margin-top: 60px;
    }
    .button_reason {
        width: 210px;
    }
}
@media all and (min-width:1280px) {
    .section {
        height: 360px;
        padding: 60px 275px;

        &_text_h1{
            font-size: 16px;
        }
        &_text_h2 {
            font-size: 32px;
            line-height: 1.41;
        }
    }
    .button_go {
        width: 160px;
    }
    .article {
        padding-top: 60px;
        padding-left: 81.2px;
        padding-right: 85px;
        height: 427px;
    }
    .article_reason {
        font-size: 32px;
    }
    .article_text {
        margin-top: 14px;
    }
    .button_reason {
        width: 255px;
    }
}

