$color-primary: #f26002;
$color-secondary: #8ccbea ;
$color-tertiary: #0271bc;

$color-light: #ffffff;
$color-dark-midtone: #304268;
$color-dark: black;
$color-light-blue: #eff9ff;
$color-main-text-and-shadow: #4a4a4a;

/* aqui van los colorines */